body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: repeating-conic-gradient(
    #e3cad1 0deg 1deg,
    #c07aa9 1deg 1deg,
    rgb(79, 79, 241) 150deg 120deg
  );
  border-radius: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#logo {
  color: white;
}
.navitems {
  align-content: end;
  position: relative;
  left: 55%;
}
.landing_page {
  text-align: center;
}

#landing_message {
  color: white;
}
